@charset "ISO-8859-1";
.calendar-main{
	position: relative;
	margin-left: 45px;
	top: 20px;
	width: 90%;
	background: rgb(139, 139, 249);
	border-radius: 3px;
	color: #fff!important;
}
.monthPre{
 	color: rgba(0,0,0,.8);
 	text-align: center;
 	opacity: 0.5;
 	box-shadow: 0.1px 0.1px 0.1px rgba(255,255,225,.2), -0.1px -0.1px 0.1px rgba(255,255,225,.2);
}

.monthNow{
 	text-align: center;
 	box-shadow: 0.1px 0.1px 0.1px rgba(255,255,225,.2), -0.1px -0.1px 0.1px rgba(255,255,225,.2);
}
.monthNow:hover, .monthPre:hover{
	background: rgba(0,0,0,.1);
 	cursor:pointer;
}
.dayNow{
	width: 100%;
 	background: rgba(0,0,0,.2);
 	color: #fff;
 	text-align: center;
 	cursor:pointer;
}
.calendar td{
 	htmlContent: 100%;
	padding: 45px;
 	width: 150px;
}
.monthNow th{
	width: 100%;
	font-size: 25px;
 	color: #fff;
 	text-align: center;
}
.dayNames{
 	text-align: center;
}