@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Lato');
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff!important;
}
div#main {
    margin-left: 210px;
    margin-top: 20px;
    padding: 10px;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
/** Mobile **/
	div#main {
    	margin-left: 0!important;
	}
}
.main-head{
	margin-top: 28px;
	margin-bottom: 15px;
	padding: 13px;
	background: #f7f7f7;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 16px;
	border-bottom-left-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	color: #6a6a6b;
}
.main-head a{
	font-size: 14px;
	font-weight: 500;
	color: #32bea6;
}
.main-head a:hover{
	color: #208a78
}

.card-icons{
	color: #fff!important;
}
.chart{
	position: relative;
	top: -2px;
	margin-left: -40px !important;
	margin-right: -45px!important;
	color: #000!important;
}
/* Charts */

div#chart_div{
	position: relative; 	
	border-radius: 3px!important;
	color: #fff;
}

.charts-wrapper canvas {
	background: #00000017;
    border-radius: 5px;
    margin-top: 20px;
}

ul.nav.nav-tabs li {
    padding: 10px;
}

.backBtn{
	background-color: #32bea6;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.2);
	padding: 5px;
	margin-bottom: 8px;
	color: #fff;
}
.backBtn:hover{
	cursor: pointer;
	background-color: #2ab29a;
}
/* Dashboard */

.participants{
	margin-left: 2%;
	width: 95%;
	min-height: 500px;
	background: #fff;
	border: 1px solid #dedada;
	border-radius: 8px;
}
