@CHARSET "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}
body{
	background: #1a3278!important;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}
.loginForm, #registerForm{
	position: relative;
	margin-top: 40%;
	margin-left: 10%;
	width: 80%;
	background: #fff;
	border-radius: 4px;
	box-shadow: 10px 10px 30px rgba(0,0,0,.5), -10px -10px 30px rgba(0,0,0,.5);
}
.loginForm-header{
	background: linear-gradient(rgb(26, 50, 120),rgb(29, 50, 119));
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #fff;
}
.loginForm-header .logo{
	width: 150px;
	height: 40px;
}
.signin-form{
	margin-top: 20px;
	margin-left: 10%;
	width: 80%;
}
.fname, .lname, .username,.password, #loginBtn{
	margin-top: 2%;
	width: 100%;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.3);
}
#loginBtn{
	margin-top: 15px;
	background: linear-gradient(rgb(36, 65, 160),rgb(29, 50, 119));
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	font-size: 15px;
	border: 0.5px solid transparent;
	box-shadow: 0 0.2px 0  rgba(35,35,35,0.5),-0 0 1px  rgba(35,35,35,0.5);
	color: white;
}
#loginBtn:hover{
	background: linear-gradient(rgb(31, 55, 135),rgb(29, 50, 119));
	cursor: pointer;
}

.signupBtn{
	color: #1f3787!important;
}

input::placeholder {
  color: #000;
  opacity: 0.9;
}
.info-help{
	position: relative;
	top: 10%;
	text-align: center;
	color: #fff;
}
.fa-info-circle{
	color: #fff!important;
}
  
#form-errors{
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 15px;
	background: rgba(255, 56, 38, .7);
	border-radius: 3px;
	box-shadow: 0.1px 0.1px 0.1px rgba(255,255,255,0.5), -0.1px -0.1px 0.1px rgba(255,255,255,0.5);
}
#form-approved{
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 15px;
	background: rgba(114, 249, 64, .7);
	border-radius: 3px;
	box-shadow: 0.1px 0.1px 0.1px rgba(255,255,255,0.5), -0.1px -0.1px 0.1px rgba(255,255,255,0.5);
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
/** Mobile **/
	
}

/* Sign Up */


@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

/** Tablet (landscape) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/** Tablet **/
}
}