@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Muli');

#top-nav, #left-nav{
	position: fixed;
	color: #fff!important;
	z-index: 100;
}
#top-nav{
	top: 0;
	width: 100%;
	height: 65px;
	background: #515050!important;
	box-shadow: 0.8px 0.8px 1px rgba(0,0,0,.5);
}
#top-nav .mobile-nav{
	display: none;	
}


@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
/** Mobile **/
	#top-nav .mobile-nav{
		display: block!important;
		margin-top: 15px;
		margin-left: 15px;
		width: 38px;
		height: 35px;
		padding: 3px;
		border: 1px solid rgba(255,255,255,.1);
		border-radius: 2px;
	}
	#top-nav .mobile-nav .bar{
		background: #e8e5e5;
		padding: 1px;
		width: 22px;
		margin-top: 5px;
		margin-left: 4px;
	}
	#top-nav .mobile-nav:hover{
		background-color: rgba(255,255,255,.2);
	}
	#top-nav .logo{
		margin-left: 25%;
	}
	#top-nav .account{
		margin-top: -50px;
	}
	#left-nav{
		display: none;
	}
}
#top-nav .logo{
	position: absolute;
    top: -15px;
    text-align: center;
    height: 100%;
    padding: 20px;
}
#top-nav .account{
    position: relative;
    float: right;
    padding: 20px;
}
#top-nav .account:hover{
	background: #3a3a3a!important;
	cursor: pointer;
}
#left-nav{
	top: 65px;
	height: 95%;
	width: 210px;
	border-right: 1px solid rgba(0,0,0,.1);
	background: #515050!important;
}
#left-nav ul{
	margin-top: 5px;
	list-style-type: none;
}
#left-nav ul li {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	padding: 15px;
	color: #fff;
}
#left-nav ul li:hover{
	cursor: pointer;
	opacity: 0.8;
	background-color: #3a3a3a;
}
#top-nav .logo {
	margin-top: 10px;
	font-weight: 100;
}
#left-nav ul a, #top-nav .logo a{
	text-decoration: none;
	color: #32bea6;
}
#left-nav ul img{
	margin-right: 10px;
	width: 20px;
	height: 20px;
}
.fa{
	font-size:20px;
	color: #fff;
	margin-right: 6px!important;
}
#left-nav #profile{
	background-color: #32bea6!important;
	padding-top: 15px;
}
#left-nav #profile .usr-ic{
	position: absolute;;
	top: 10px;
	margin-left: 12px;
	border-radius: 100px;
	border: 1px solid rgba(0,0,0,.2);
	padding: 5px;
	width: 60px;
	height: 60px;
}

.profile-nav {
    display: none;
    position: absolute;
    top: 60px;
    width: 160px;
    height: 90px;
    margin-left: 82.6%;
    background: #fff;
    box-shadow: 0.8px 0.8px 1px rgba(0,0,0,.6), -0.8px -0.8px 1px rgba(0,0,0,.3);
    border-radius: 3px;
    z-index: 110;
}
.profile-nav-icons{
	font-size: 14px!important;
	color: #000;
	margin-left: 5px;
}
.profile-nav ul{
	list-style: none;
}
.profile-nav ul a{
	color: #000;
}
.profile-nav ul a:hover{
	text-decoration: none;
}
.profile-nav ul span{
	border: 1px solid rgba(0,0,0,.1);
}
.profile-nav ul li{
	padding: 3px 20px;
	margin-top: 3px;
}
.profile-nav ul .divider {
    height: 0.5pt;
    margin: 9px 0;
    overflow: hidden;
    padding: 0px !important;
    background-color: #e5e5e5;
}
.profile-nav ul li:hover{
	background: #ededed;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
/** Mobile **/
	.profile-nav{
		position: fixed;
		margin-left: 180px;
		top: 9%;
	}

}
