@charset "ISO-8859-1";

.table {
	margin-left: 5px;
	margin-top: 5px;
	width: 96% !important;
	font-size: 14px;
	text-align: center;
}

i {
	 width: inherit;
}
.table i {
    color: black;
}
.table tr th{
	border: 1px solid rgba(0,0,0,.1);
}

.row-new-patient {
	margin-bottom: 10px;
}

.upload-file {
	display: none;
}

.fa-upload {
	cursor: pointer;
	font-size: 20px!important;
	color: black;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 2px;
}
.fa-upload:hover{
	background: #fef;
}
.upload_msg{
	position: relative;
	top: -25px;
	margin-left: 35px;
}
.paricipants-header{
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.paricipants-header .search-form{
	position: relative;
	margin-left: 70%;
	top: -15px;
}
.searchBar{
	padding: 3px;
	padding-left: 5px;
	width: 215px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.5);
}
.searchSubmit{
	background-color: #32bea6!important;
	border: 1px solid rgba(0,0,0,.3);
	margin-left: -8px;
	height: 32px;
	padding: 3px;
}
.searchSubmit:hover{
	cursor: pointer;
	background-color: #2ab29a!important;
}
.fa-search {
	margin-left: 5px;
	top: -2px;
}

/* add-participant page */
.addBtn{
	position: relative!important;
	margin-left: 15px;
	top: 13px;
	text-decoration: none!important;
	background: #32bea6!important;
	padding: 8px;
	border-radius: 2px;
	color: #fff;
}
.addBtn:hover{
	color: #fff;
	background: #2ab29a!important;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
/** Mobile **/
	.addBtn{
		padding: 6px;
    	font-size: 12px;
	}
	.participants .search-form {
		margin-left: 45%!important;
	}
	.searchBar{
		width: 150px;
		font-size: 12px;
	}
	.searchSubmit{
		position: relative;
		font-size: 14px;
		padding: 0px;
		height: 26px;
		top: 0.5px!important;
	}
	.table{
		margin-left: 3.5px!important;
	}
	tr{
		font-size: 10px;
	}
	
}
.participants{
	min-height: 600px;
}
.participants form{
	margin-top: 3px;
	margin-left: 25px;
	margin-bottom: 15px;
}
.participants form .name, .name{
	position: relative;
	font-weight: 500;
}
.participants form .fname, .lname, .dob, .phone, .address, .description{
	margin-bottom: 10px;
	width: 43%;
	padding: 3px;
	padding-left: 8px;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0.8px 0.8px 0.2px rgba(0,0,0,.2), -0.8px -0.8px 0.2px rgba(0,0,0,.2); 
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
/** Mobile **/
	.comment{
		position: relative!important;
		margin: 0px!important;
		margin-left: 0px!important;
	}
	.description{
		width: 280px!important;
	}
}

.description{
	width: 450px;
	height: 150px;
	resize: none;
	margin-top: 5px;
}
#fileToUpload{
	margin-bottom: 15px;
}
.cancelBtn, .saveBtn{
	margin-top: 15px;
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 3px;
	color: #fff;
	background: #76a3ed;
	cursor: pointer;
}
.cancelBtn:hover{
	background: #6f9ae2;
}
.saveBtn{
	margin-left: 10px;
	background: #2ab29a!important;
}
.saveBtn:hover{
	background: #25a38d!important;
}