@charset "ISO-8859-1";

.profile_wrap{
	margin-top: 80px;
	min-height: 500px!important;
	width: 98%;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0.1px 0.1px 1px rgba(0,0,0,.5);
}
.row{
	margin: 0!important;
}
.profile_pic{
	margin-left: 30%;
	margin-top: 45px;
	width: 140px;
	height: 140px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.1);
}
.profile_pic img {
	width: 100%;
	height: 100%;
	padding: 2px;
	background-color: #e5e7e8;  
} 
.profile-info{
	margin-top: 10%;
}
.edit_Account{
	text-align: center;
	height: 80px!important;
	margin-top: 15%;
	margin-left: 65%;
	width: 150px;
	height: 50px;
}
.edit_Account a{
	padding: 5px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	background-color: #32bea6;
	color: #fff;
}
.edit_Account a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #33af9a;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
/** Mobile **/
	.edit_Account{
		margin-left: -4%;
	}

}


/** Edit Profile **/
.edit-row{
	margin-left: 40px!important;
}
.entry{
	padding: 15px;
}
.entry .user{
	padding-right: 15px;
	font-size: 18px;
	color: #000;
}
.entry span{
	margin-left: 35px;
	font-size: 11px;
	font-weight: 480;
}
.entry .name{
	outline: none;
	padding: 5px;
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,.5)!important;
}
.cancelBtn,.saveBtn{
	margin-top: 45px;
	margin-bottom: 45px;
	padding: 5px;
}
.cancelBtn{
	cursor: pointer;
}
.saveBtn{
	border: 1px solid rgba(0,0,0,.2);
	color: #fff;
	background-color: #32bea6;
}
.saveBtn:hover{
	cursor: pointer;
	background-color: #2ca08c;
}